@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-primary: #f27430;
  --color-primary-dark: #e1580e;
  --color-secondary: #c2f3d6;
  --color-white: #ffffff;
  --color-gray: #f8f8f8;
  --color-gray-light: #dfe4ea;
  --color-gray-dark: #d9d9d9;
  --color-black: #1f2a37;

  --color-alert-primary: #f23030;
  --color-alert-secondary: #fef3f3;

  --color-success-primary: #22ad5c;
  --color-success-secondary: #daf8e6;

  --color-warning-primary: #f59e0b;
  --color-warning-secondary: #fffbeb;

  --color-info-primary: #0b76b7;
  --color-info-secondary: #e9f9ff;

  --border-radius: 0.4rem;
  --padding-size: 2rem;
  --padding-section: 4rem;
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: var(--color-black);
    background-color: var(--color-background);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    text-wrap: balance;
  }

  h1 {
    font-size: var(--text-6xl);
    line-height: var(--text-6xl--line-height);
  }

  h2 {
    font-size: var(--text-5xl);
    line-height: var(--text-5xl--line-height);
  }

  h3 {
    font-size: 2.5rem;
    line-height: var(--text-5xl);
  }

  h4 {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
  }

  h5 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  h6 {
    font-size: 1.5rem;
    line-height: var(--text-3xl);
  }

  p {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: 400;
    text-wrap: balance;
  }
}

.mapboxgl-map {
  font: inherit !important;
}
.mapboxgl-popup-content {
  background-color: transparent !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  pointer-events: auto;
  position: relative;
  width: 260px !important;
}

.mapboxgl-popup-close-button {
  right: 25px !important;
  top: 10px !important;
  font-size: 24px;
}

.mapboxgl-popup-close-button:hover {
  background-color: transparent !important;
}
